.customedEditorContent {
  width: calc(100% - 20px) !important;
  min-height: 200px;
  resize: vertical;
}

.customedCommentContent {
  width: calc(100% - 20px) !important;
  min-height: 100px;
  resize: vertical;
}
